{%extends 'base.html'%}
{%block head%}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{%endblock%}
{%block body%}

    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">{{mode}} Post</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_title"><i class="zmdi zmdi-edit"></i></label>
                                <input type="text" name="title" id="id_title" placeholder="Title" value="{{title}}"/>
                            </div>
                            <div class="form-group">
                                <label for="id_content"><i class="zmdi zmdi-edit"></i></label>
                                <input type="textarea" name="content" id="id_content" placeholder="Content" value="{{content}}" />
                            </div>
                            <div class="form-group">
                                <label for="id_image"><i class="zmdi zmdi-collection-image"></i></label>
                                <input type="file" name="image" id="id_image" placeholder="Image"/>
                            </div>
                            <div class="form-group form-button">
                                 <input type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{%endblock%}