{%extends 'base.html'%} {% load static %} {%block head%}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{%endblock%} {%block body%}

<!-- Page Header-->
<header
  style="background-image: url({% static 'assets/img/home-bg.jpg' %})"
  class="masthead"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% for post in posts %}

      <div class="post-preview">
        <a href="{% url 'blog_detail' pk=post.id %}">
          <h2 class="post-title">{{post.title}}</h2>
        </a>
        <p class="post-meta">
          Posted by {{post.author}} on {{post.created_date|date:"M d, Y" }}
        </p>
      </div>

      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}
      <!-- Pager-->
    </div>
  </div>
</div>
{%endblock%}
