{%extends 'base.html'%}
{% load static %}
{%block head%}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/like.js' %}"></script>
{%endblock%}
{%block body%}
    <!-- Page Header-->
    <header style="background-image: url({{post.image.url}})"
  class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <div class="meta">Posted by {{post.author}} on {{post.created_date|date:"M d, Y"}} </div> 
              <br/>
              {% if post.author == user %}
                <a href="{% url 'update_blog' post.pk %}" class="btn btn-primary"><i class="zmdi zmdi-edit"></i> Edit</a>
                <a href="{% url 'delete_blog' post.pk %}" class="btn btn-primary"><i class="zmdi zmdi-delete"></i> Delete</a>
              {% endif %}
              {% if user.is_authenticated %}
              <button id='like-btn' class="btn btn-primary" onclick="clickLike({{post.id}}, '{{csrf_token}}')">
                {% if has_liked %}
                <i class="zmdi zmdi-thumb-down"></i> Unlike
                {% else %}
                <i class="zmdi zmdi-thumb-up"></i> Like
                {% endif %}
              </button>
              {% endif %}
              <span><span id='like-count'>{{post.like_count}}</span> likes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">{{post.content}}</div>
    </div>
  </div>
</article>
<!-- Divider-->
<hr class="my-4" />
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <a href="{% url 'create_comment' post.pk %}">Add Comment</a>
      {% if not comments %}
      <h3>No comments yet</h3>
      {% else %} {% for comment in comments %}
      <div class="post-preview">
          <br/>
          <h6>{{comment.comment_content}}</h6>
        <p class="post-meta">
          Posted by {{comment.comment_author}} on {{comment.comment_date|date:"M d, Y" }}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{%endblock%}
